

.right_BILL p
{
    background: #000;
font-family: "roboto";
margin-top: -0.8rem;
font-size: 0.8rem !important;
font-weight: 300;
}
.right_BILL{
text-align: right;
padding-top: 0.8rem;
margin-bottom: -4rem;

}
.hr_BILL{
    border: 1px solid #000;
}
.h3_BILL{
    font-family: "Cooper Black";
    font-weight: 600;
    text-align: center;
    
    margin: 0;
    margin-top: 1.3rem;
    margin-bottom: 0rem;
    margin-top: 0.5rem;

}
.h3_BILL span{
    font-weight: 500;
    color: maroon;
    margin-top: -1rem;
}
.head_BILL{
    font-family: "Cooper black";
    font-weight: 600;
    font-size: 0.6rem;
    color: maroon;
    
}.s_BILL{
 font-family: 'Century Gothic Paneuropean';
    font-size: 0.7rem;
    font-weight: 600;
}
 .p_bill_BILL{
  
    margin: 0;
    padding-top: 0.1rem;

}
.s_INV{
    color: maroon;
    margin-left: 0.3rem;
}
.mid_BILL_MAIN{
 
    display: flex;
   
 width: 450px;

gap: 6.5rem;
}

.mid_right{

    padding-top: 0.2rem;
}
.mid_right p{
    margin: 0;
    font-family: "poppins";
    font-size: 0.7rem;
    margin-top: 0.1rem;
}
.mid_BILL{
    padding-left: 2rem;
}
.dec_BILL{
    background: orange;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
height: fit-content;
padding: 0.5rem;
border-radius: 10px;
margin-top: 1rem;
}
.right_dec_BILL{
    display: flex;

   
}


.left_dec_BILL h4{
    margin-top: -0rem;
  
}
.left_bill_BILL{
      display: flex;
      gap: 0.5rem;
}
.right_dec_BILL h4{
    margin-left: 0.9rem;
margin-top: -0rem;
   
}
.img_bill{
    height: 3rem;
    margin-top: -1px;
}
.one_dec_BILL{
    display: flex;
        justify-content: space-between;
margin-top: 0.5rem;


padding-left: 1rem;
padding-right: 2rem;

}
.one_dec_BILL p{
margin-top: -0rem;
margin-bottom: 0rem;
font-family: "roboto";
}
.one_right_dec_BILL{
    display: flex;

}
.one_right_dec_BILL p{
    margin-left: 2rem;
}
.hr_dec_BILL{
    margin-top: 0.5rem;
border: 1px solid red;
margin-top: 0.9rem;
margin-bottom: 0.9rem;
}
.total_BILL{
    
   display: flex;
   justify-content: space-between;

}
.total_BILL p{
    margin-right: 3rem;
    font-family: "Cooper Black";
    font-size: 0.9rem;
    color: maroon;
    font-weight: 700;
}
.total_BILL p span{
    color: black;
    font-family: 'Century Gothic Paneuropean';
}
.hr_dec_total_BILL{
    border: 1px solid orange;
    margin-top: 2rem;
    width: 300px;

}
.total_BILL div p span{
    font-weight: 500;
}
.button_bill{
    color: white;
background: blue;
border: none;
border-radius: 10px;
padding: 0.5rem;

}
.h3_n_BILL{
    font-family: "Cooper Black";
    font-size: 1.3rem;
    margin: 0;
    margin-top: 0.6rem;
    margin-bottom: -0.5rem;
    font-weight: 200 !important;
}
.table_container_BILL {
  margin: 20px 0;
  font-size: 0.6rem;
  text-align: center;
}

.styled_table_BILL {
  width: 80%;
  border-collapse: collapse;
}

.styled_table_BILL th, .styled_table_BILL td {
  border: 1px solid #ddd;
  padding: 6px;
}

.styled_table_BILL th {
  background-color: #f2f2f2;
  text-align: left;
}

.styled_table_BILL tr{
  background-color: #f9f9f9d1;
}

.styled_table_BILL tr:hover {
  background-color: #ddd;
}
thead{
    font-family: "roboto";
}
td{
    font-family: "poppins";
}
.total_BILL{
  margin: 0;
    display: block;
   
    background: white;
    width: fit-content;
margin-left: 2rem;
margin-top: -1.1rem;
  
    
}
.tr_table_BILL th{
    background:rgba(128, 0, 0, 0.628)!important;
    color: white;
}
.total_BILL p{
    margin: 0;
    padding-top: 0.2rem;
    font-weight: 500;
    font-size: 0.7rem;
}
.icon_serv_BILL{
    font-size: 0.7rem !important;
    font-weight: 300 !important;
margin-bottom: -0.1rem;
}
.total_BILL p span{
    font-weight: 700;
}
.contact_BILL{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    
}
.contact_BILL h5{
    font-weight: 500;
    font-family: "poppins";
    margin: 0;
    font-size: 0.8rem !important;
margin-top: 1rem;

}
.contact_BILL div{
   
  
    padding: 0;
}
.contact_BILL p {
    margin: 0;
    font-family: "roboto";
    font-size: 0.6rem;
}
.p_c_BILL{
    font-size: 0.8rem !important;
    margin-right: 0.3rem;
    margin-bottom: -0.1rem;
}




.button_bill_BILL{
    color: white;
    background: blue;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
   

    font-family: "poppins";
    font-weight: 500;
margin: auto;
}
.one_BILL{
   background: #000;
  
  margin: auto;
}


.button{
    display: flex;
    width: fit-content;
    gap: 2rem;
    margin: auto;
   
    margin-bottom: 4rem;
    flex-wrap: wrap;
    text-align: center;
}


.bill_all{
    width: 250px;
    border-radius: 10px;
    border: 2px solid  rgba(128, 128, 128, 0.464);
    padding: 1rem;
   

}


.bill_main{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}


.bill_all h2{
    margin:0;
    font-family: "roboto";
    font-weight: 400;
margin-bottom: 0.7rem;
}
.bill_all h2 span{
    color: maroon;
    font-weight: 500;


}

.bill_all p{
    font-family: "poppins";
    margin: 0;
    margin-top: 0.3rem;
}


.bill_all button{
    margin-top: 0.5rem;
    border: none;
    background: none;
    border: 1px solid;
    font-family: "roboto";
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 10px;
}

@media only screen and (max-width:700px){
    .bill_all{
        display: block;
        margin: auto;
    }
}
.loading_p{
   font-size: 2rem;
   margin: auto;
   font-family: "poppins";
   font-weight: 300; 
}
.img_bill_bg{
  position: fixed;
  top: 2.3rem;
  left: 0;
  z-index: -1; /* Ensure the PDF is behind all other content */


width: 100%;
padding-left: 1rem;

 
}
.pdf-background{
    width: 530px;
    height:710px;
    display: block;
    margin: auto;
   margin-top: -2rem;

}

.root_BILL{
   
  
    position: relative;
   
padding-top: 8rem;
   height:750px;
   margin-top:0;
overflow:hidden;
width:550px;
padding-left: 2rem;
margin-top: -2rem;
/* background: #1e0b8861; */
}

.BILL_MAIN_TOP{

    width: fit-content;
    margin: auto;
}
/* .button{
    position: relative;
    top: -8rem;
} */
.btn_back_BILL{
    position: relative;
    z-index: 2;
}
.gst{
    display: flex;
    
    width: 100%
}
.gst label{
    width: 100%;
   
}
.gst input{
    height: 1.2rem;
    margin-top: 0.2rem;
    
    
}
.button{
position: fixed;
top: 3rem;
display: block;
}
.icon_table_rs{
height: 0.7rem !important;
margin-top: 0.1rem;

}
.amount_bill_table{
   width: 3rem;
}
/* .input_gstNo{
  
} */